#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "concrete5"
name = "Concrete CMS"
description.en = "Content Management System for Teams"
description.fr = "Système de gestion de contenu pour les équipes"

version = "9.4.6~ynh1"

maintainers = []

[upstream]
license = "MIT"
website = "https://www.concrete5.org"
admindoc = "https://documentation.concrete5.org"
code = "https://github.com/concrete5/concrete5"
cpe = "cpe:2.3:a:concrete5:concrete5"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/concrete"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["en_US", "fr_FR", "it_IT", "de_DE", "pt_PT"]
    default = "fr_FR"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

    [install.website_title]
    ask.en = "Your website's title."
    ask.fr = "Le titre de votre site."
    type = "string"
    default = "Concrete"

[resources]
    [resources.sources.main]
    url = "https://github.com/concrete5/concrete5/archive/refs/tags/9.4.6.tar.gz"
    sha256 = "0ae7131f0b9677384ee36c49353139db68e3fedff8908ab2eb5c3bb8d5f6c53b"
    autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "php8.4-pdo",
        "php8.4-mysql",
        "php8.4-dom",
        "php8.4-simplexml",
        "php8.4-iconv",
        "php8.4-intl",
        "php8.4-gd",
        "php8.4-fileinfo",
        "php8.4-mbstring",
        "php8.4-curl",
        "php8.4-zip",
        "mariadb-server",
        "curl",
    ]

    [resources.database]
    type = "mysql"

    [resources.composer]
    version = "2.8.11"
